filter_mode = "directory"
filter_mode_shell_up_key_binding = "session"
ctrl_n_shortcuts = true
enter_accept = true

[stats]
common_subcommands = [
    "apt",
    "apt-get",
    "cargo",
    "composer",
    "dnf",
    "docker",
    "git",
    "go",
    "ip",
    "jj",
    "kubectl",
    "nix",
    "nmcli",
    "npm",
    "pecl",
    "pnpm",
    "podman",
    "port",
    "systemctl",
    "tmux",
    "yarn",
    "just",
    "ujust",
    "systemctl"
]