
{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- if not $ephemeral -}}
{{-   if eq $hostname "cbos-bluefin" -}}
{{-     $personal = true -}}
{{-   else if eq $hostname "ubuntu" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "dev@ceesbos.nl" -}}
{{- $name := "Cees Bos" -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}

[keepassxc]
    command = "keepassxc-cli-wrapper.sh"
    database = "{{ .chezmoi.homeDir }}/SynologyDrive/key-value-pairs/work.kdbx"
    args = ["--key-file", "{{ .chezmoi.homeDir }}/SynologyDrive/key-value-pairs/work.key"]
