{{/* boolean feature tags */}}
{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- "" -}}


{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (env "REMOTE_CONTAINERS") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{-   $headless = true -}}
{{- end -}}

{{- $hostname := .chezmoi.hostname -}}

{{- if eq .chezmoi.os "windows" -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{- $keepass_database := "not-filled" -}}
{{- $keepass_keyfile := "not-filled" -}}


{{- if not $ephemeral -}}
{{-   if eq $hostname "cbos-bluefin" -}}
{{-     $personal = true -}}
{{-     $keepass_database = print .chezmoi.homeDir "/SynologyDrive/key-value-pairs/work.kdbx" -}}
{{-     $keepass_keyfile = print .chezmoi.homeDir "/SynologyDrive/key-value-pairs/work.key" -}}
{{-   else if eq $hostname "APM3LD7PH04HG76" -}}
{{-     $headless = false -}}
{{-     $personal = true -}}
{{-     $keepass_database = print .chezmoi.homeDir "/OneDrive - ING/kvp/prive.kdbx" -}}
{{-     $keepass_keyfile = print .chezmoi.homeDir "/OneDrive - ING/kvp/prive.key" -}}
{{-   else if eq $hostname "ubuntu" -}}
{{-     $headless = true -}}
{{-     $personal = true -}}
{{-   else if stdinIsATTY -}}
{{-     $headless = promptBoolOnce . "headless" "headless" -}}
{{-     $ephemeral = promptBoolOnce . "ephemeral" "ephemeral" -}}
{{-   else -}}
{{-     $ephemeral = true -}}
{{-     $headless = true -}}
{{-   end -}}
{{- end -}}

{{- $email := "dev@ceesbos.nl" -}}
{{- $name := "Cees Bos" -}}

[data]
    ephemeral = {{ $ephemeral }}
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    headless = {{ $headless }}
    hostname = {{ $hostname | quote }}
    personal = {{ $personal }}

{{ if not $ephemeral }}
[keepassxc]
    command = "{{ .chezmoi.homeDir }}/.local/bin/keepassxc-cli-wrapper.sh"
    database = "{{ $keepass_database }}"
    args = ["--key-file", "{{ $keepass_keyfile }}"]
{{ end }}