# list files with details


if [ ! "$(command -v eza)" ]; then
    alias ll="ls -larht"
else
    alias ll="eza -al --group-directories-first"
fi

# include user-specific binaries and scripts
export PATH="$HOME/.local/bin:$PATH"

# system wide cli
export PATH="$PATH:/usr/local/bin"

# add howebrew to path
export PATH="$PATH:$HOME/.homebrew/bin"

# specify characters considered as word boundaries for command line navigation
export WORDCHARS=""

# set the location and filename of the history file
export HISTFILE="$HOME/.zsh_history"

# set the maximum number of lines to be saved in the history file
export HISTSIZE="100000"
export SAVEHIST="$HISTSIZE"

# enable comments "#" expressions in the prompt shell
setopt INTERACTIVE_COMMENTS

# append new history entries to the history file
setopt APPEND_HISTORY

# save each command to the history file as soon as it is executed
setopt INC_APPEND_HISTORY

# ignore recording duplicate consecutive commands in the history
setopt HIST_IGNORE_DUPS

# ignore commands that start with a space in the history
setopt HIST_IGNORE_SPACE

## never ever beep ever
setopt NO_BEEP

# >>> bindkey tip: to discovery the code of your keys, execute "$ cat -v" and press the key, the code will be printed in your shell.

# navigate words using Ctrl + arrow keys
# >>> CRTL + right arrow | CRTL + left arrow
bindkey "^[[1;5C" forward-word
bindkey "^[[1;5D" backward-word

# search history using Up and Down keys
# >>> up arrow | down arrow
bindkey "^[[A" history-beginning-search-backward
bindkey "^[[B" history-beginning-search-forward

# jump to the start and end of the command line
# >>> CTRL + A | CTRL + E
bindkey "^A" beginning-of-line
bindkey "^E" end-of-line
# >>> Home | End
bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line

# navigate menu for command output
zstyle ':completion:*:*:*:*:*' menu select
bindkey '^[[Z' reverse-menu-complete

# delete characters using the "delete" key
bindkey "^[[3~" delete-char

# >>> load ZSH plugin

# Add EZA autosuggestions to the path for autosuggestions
fpath=($fpath $HOME/.my-custom-zsh/eza-autosuggestions/completions/zsh)

[[ -s ~/.ingrc ]] && source ~/.ingrc

# enable kubectl plugin autocompletion
autoload -Uz compinit
compinit
#source "$HOME/.my-custom-zsh/kubectl.plugin.zsh"
#source <(kubectl completion zsh)

# load zsh-autosuggestions
source "$HOME/.my-custom-zsh/zsh-autosuggestions/zsh-autosuggestions.zsh"

# load zsh-syntax-highlighting
source "$HOME/.my-custom-zsh/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"

# load podman completion
if [ "$(command -v podman)" ]; then
    source <(podman completion zsh)
fi

# load docker completion
if [ "$(command -v docker)" ]; then
    source <(docker completion zsh)
fi

# load hugo completion
if [ "$(command -v hugo)" ]; then
    source <(hugo completion zsh)
fi

# load touchctl completion
if [ "$(command -v touchctl)" ]; then
    source <(touchctl completion zsh)
fi

export NVM_DIR="$HOME/.config/nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion


# start Starship prompt
eval "$(starship init zsh)"

#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
