# DevPod Start observability-toolkit.devpod
Host observability-toolkit.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/usr/bin/devpod-cli" ssh --stdio --context default --user vscode observability-toolkit --workdir "/workspaces/content"
  User vscode
# DevPod End observability-toolkit.devpod
# DevPod Start ceesbos-blog.devpod
Host ceesbos-blog.devpod
  ForwardAgent yes
  LogLevel error
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  HostKeyAlgorithms rsa-sha2-256,rsa-sha2-512,ssh-rsa
  ProxyCommand "/usr/bin/devpod-cli" ssh --stdio --context default --user vscode ceesbos-blog
  User vscode
# DevPod End ceesbos-blog.devpod
