[user]
	name = {{ .name }}
	email = {{ .email }}
[color]
	ui = auto
[core]
	editor = vi
	autocrlf = input
	whitespace = trailing-space,space-before-tab
[diff]
	algorithm = histogram
	renamelimit = 8192
	renames = copies
[fetch]
	fsckobjects = false
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = "main"
[push]
	default = current
[rebase]
	autosquash = true
	autostash = true
[receive]
	fsckobjects = true
[status]
	submoduleSummary = true
[transfer]
	fsckobjects = true
[url "git@github.com:cbos/"]
	insteadOf = https://github.com/cbos/
[url "git@github.com:HervormdPutten/"]
    insteadOf = https://github.com/HervormdPutten/

[includeIf "gitdir/i:~/Developer/ING/"]
  path = ~/Developer/ING/.gitconfig
[credential]
	helper =
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true